<?xml version="1.0"?>
<settings version="1">
	<section id="script.copacetic.helper">
		<category id="debug" label="32001" help="">
			<group id="0" label="32002">
				<setting id="debug_logging" type="boolean" label="32003" help="32103">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="json_logging" type="boolean" label="32004" help="32104">
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
					<dependencies>
						<dependency type="visible" setting="debug_logging">true</dependency>
					</dependencies>
				</setting>
			</group>
		</category>
		<category id="skinners" label="32005" help="">
			<group id="1" label="32006">
				<setting id="dev_mode" type="boolean" label="32007" help="32107">
					<level>1</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
			</group>
		</category>
	</section>
</settings>